<?xml version='1.0' encoding='utf-8'?>
<widget id="com.evangoode.3yen" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>3TEN</name>
    <description>
        A mobile application for 3TEN (http://3ten.org/)
    </description>
    <author email="mail@evangoo.de" href="http://evangoo.de/">
        Evan Goode
    </author>
    <content src="index.html" />
    <access origin="*" />
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    <preference name="DisallowOverscroll" value="true" />
</widget>
