@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto.ttf);
}
@font-face {
  font-family: 'categories';
  src: url('../fonts/categories.ttf');
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
  }
  15% {
    -webkit-transform: rotate(-30deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
* {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto;
}
html, body, .app {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.menu-bar {
  height: 20px;
  width: 100%;
  background: #d01716;
  -webkit-transition: background 0.5s ease;
}
.wrap {
  height: calc(100% - 20px);
  width: 100%;
}
.main {
  position: relative;
  z-index: 6;
  height: 100%;
  box-shadow: 0 0 32px black;
  -webkit-transition: -webkit-transform 0.5s ease;
  -webkit-transform: translateX(0);
}
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(0,0,0,0.5);
  z-index: 6;
  display: none;
}
.sidebar {
  height: calc(100% - 20px);
  width: 275px;
  background: #2e2e2e;
  color: white;
  position: absolute;
  z-index: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.sidebar-logo {
  width: 60%;
  margin: 40px auto;
  margin-bottom: 24px;
  display: block;
}
.sidebar-tab {
  padding: 12px;
  line-height: 160%;
  width: 100%;
  padding-left: 32px;
  font-size: 16px;
  -webkit-transition: background 0.25s ease;
}
.sidebar-tab:last-child {
  margin-bottom: 32px;
}
.sidebar-tab-category {
  margin-left: 32px;
  margin-bottom: 16px;
  font-size: 14px;
  color: gray;
}
.sidebar-tab-glyph {
  font-family: categories;
  margin-right: 16px;
  font-size: 20px;
  position: relative;
}
.sidebar-tab-selected {
  background: #1e1e1e;
}
.article {
  height: calc(100% - 20px);
  width: 100%;
  background: white;
  position: absolute;
  z-index: 5;
}
.article-content {
  height: calc(100% - 44px);
  width: 100%;
  background: white;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 12px;
}

.navbar {
  height: 44px;
  width: 100%;
  background: #e51c23;
  color: white;
  text-align: center;
  z-index: 5;
  position: relative;
  box-shadow: 0 0 4px black; }

.navbar-sidebar-glyph {
  height: 44px;
  width: 44px;
  float: left;
  position: absolute;
  background: url(../img/sidebar-glyph.png) no-repeat center center / 16px 16px; }

.navbar-back-glyph {
  height: 44px;
  width: 44px;
  float: left;
  position: absolute;
  background: url(../img/back-glyph.png) no-repeat center center / 16px 16px;
}
.navbar-title {
  font-size: 18px;
  line-height: 44px;
}
.content {
  height: calc(100% - 44px);
  width: 100%;
  background: #ddd;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 12px;
  padding-bottom: 0;
}
.loading-box {
  position: fixed;
  height: 100%;
  width: 100%;
  background: white;
  z-index: 1;
  top: 44px;
}
.loading {
  height: 96px;
  width: 96px;
  position: relative;
  top: calc(50% - 96px);
  left: calc(50% - 48px);
  border-radius: 50%;
  border: 12px solid transparent;
  border-left: 12px solid #e51c23;
  border-right: 12px solid #2e2e2e;
  -webkit-animation: loading 1.5s infinite ease;
}
.content-card {
  width: 100%;
  background: white;
  box-shadow: 0 0 4px black;
  margin-bottom: 12px;
  border-radius: 4px;
}
.content-card-image {
  width: 100%;
  background-position: center center;
  background-size: cover;
  color: white;
  padding: 12px;
  box-shadow: inset 0 -100px 100px -100px black;
}
.content-card-image-spacer {
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: -12px;
}
.content-card-image-1 {
  background-image: url(http://placekitten.com/640/480);
}
.content-card-image-2 {
  background-image: url(http://placekitten.com/g/640/480);
}
.content-card-title {
  font-size: 28px;
}
.content-card-content {
  padding: 12px;
  font-size: 12px;
}
.content-card-content-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
}
.content-card-content-author {
  text-transform: uppercase;
  float: left;
}
.content-card-content-category {
  text-transform: uppercase;
  color: #e51c23;
  float: right;
}
